<!DOCTYPE html>
<html>

<head>
	<title>Live Slot Alert</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
	<link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='img/bell.jpeg')}}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="topbar">
		Live Slot Alert
	</div>
	<div class="space"> </div>
	<div class="space"> </div>
	<div id="attention"><strong>Note:</strong> Vaccine slots displayed here are of next day.</div>
	<div class="space"> </div>
	<div class="space"> </div>
	<div id='centralContent'>
		<div id="viewscount">
		</div>
		<div class="space"> </div>
		<div id="inputBox">
			<input type="number" id="pincode" name="pincode" placeholder="Enter Your Pincode">
		</div>
		<div class="space"> </div>
		<div>
			<input type="checkbox" id="age" name="age" value="adult">
			<label for="age"> 18+ Only</label>
		</div>
		<div class="space"> </div>
		<div class="switchDiv">
			<div class="switchDivContent leftText"> Dose 1 </div>
			<div class="switchDivContent centerSwitch">
				<label class="switch">
					<input type="checkbox" id="doseType">
					<span class="slider round"></span>
				</label>
			</div>
			<div class="switchDivContent rightText"> Dose 2 </div>
		</div>
		<div class="space"> </div>
		<div id="buttonDiv">
			<div class="buttons"> <button id="startbutton" type="button" onclick="setPinCode()">Start</button> </div>
			<div class="buttons"> <button id="stopbutton" type="button" onclick="stopUpdating()">Stop</button> </div>
		</div>
		<div class="space"> </div>
		<div id="status"></div>
	</div>
	<div class="space"> </div>
	<div class="space"> </div>
	<div>
		<table id="mytable">
		</table>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>