<!DOCTYPE html>
<html>
<head>
	<title>Live Slot Alert</title>
	<link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='img/bell.jpeg')}}"/>
	<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles/main.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="topbar">
		Live Slot Alert
	</div>
	<div class="input">
		<p> <input type="number" id="pincode" name="pincode" placeholder="pincode" required> </p>
		<p><input type="checkbox" id="age" name="age" value="adult">
		<label for="age"> 18+ Only</label></p>
		<button id="startbutton" type="button" onclick="setPinCode()">Start</button> <button id="stopbutton" type="button" onclick="stopUpdating()">Stop</button>
	</div>
	<br>
	<br>
	<div>
		<div id="status"></div>
		<br>
		<table id="mytable">
		</table>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>